[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/AdrienHerubel/imgui.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/gl3w"]
	path = 3rdparty/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "3rdparty/nanovg"]
	path = 3rdparty/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "3rdparty/lua"]
	path = 3rdparty/lua
	url = https://github.com/LuaDist/lua.git
[submodule "3rdparty/libtess2"]
	path = 3rdparty/libtess2
	url = https://github.com/memononen/libtess2.git
[submodule "3rdparty/json-c"]
	path = 3rdparty/json-c
	url = https://github.com/json-c/json-c.git
