[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/nanovg"]
	path = 3rdparty/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "3rdparty/lua"]
	path = 3rdparty/lua
	url = https://github.com/LuaDist/lua.git
[submodule "3rdparty/libtess2"]
	path = 3rdparty/libtess2
	url = https://github.com/memononen/libtess2.git
[submodule "3rdparty/jansson"]
	path = 3rdparty/jansson
	url = https://github.com/akheron/jansson.git
[submodule "3rdparty/stb/stb"]
	path = 3rdparty/stb/stb
	url = https://github.com/island-org/stb.git
[submodule "3rdparty/libhl"]
	path = 3rdparty/libhl
	url = https://github.com/xant/libhl.git
[submodule "3rdparty/soloud"]
	path = 3rdparty/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = https://github.com/libuv/libuv.git
[submodule "3rdparty/tinydir"]
	path = 3rdparty/tinydir
	url = https://github.com/island-org/tinydir.git
[submodule "3rdparty/Remotery"]
	path = 3rdparty/Remotery
	url = https://github.com/island-org/Remotery.git
[submodule "3rdparty/linmath"]
	path = 3rdparty/linmath
	url = https://github.com/datenwolf/linmath.h.git
[submodule "3rdparty/klib"]
	path = 3rdparty/klib
	url = https://github.com/attractivechaos/klib.git
