[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/nanovg"]
	path = 3rdparty/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "3rdparty/jansson"]
	path = 3rdparty/jansson
	url = https://github.com/akheron/jansson.git
[submodule "3rdparty/stb/stb"]
	path = 3rdparty/stb/stb
	url = https://github.com/island-org/stb.git
[submodule "3rdparty/soloud"]
	path = 3rdparty/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = https://github.com/libuv/libuv.git
[submodule "3rdparty/Remotery"]
	path = 3rdparty/Remotery
	url = https://github.com/island-org/Remotery.git
[submodule "3rdparty/linmath"]
	path = 3rdparty/linmath
	url = https://github.com/datenwolf/linmath.h.git
[submodule "3rdparty/v7"]
	path = 3rdparty/v7
	url = https://github.com/cesanta/v7.git
[submodule "3rdparty/tinyobjloader-c"]
	path = 3rdparty/tinyobjloader-c
	url = https://github.com/island-org/tinyobjloader-c.git
[submodule "3rdparty/par"]
	path = 3rdparty/par
	url = https://github.com/prideout/par.git
